[submodule "simplechrome"]
	path = simplechrome
	url = git@github.com:webrecorder/simplechrome.git
	branch = using-cripy
[submodule "chrome-remote-interface-py"]
	path = chrome-remote-interface-py
	url = git@github.com:webrecorder/chrome-remote-interface-py.git
[submodule "wr-behaviors"]
	path = wr-behaviors
	url = git@github.com:webrecorder/wr-behaviors.git
