git+ssh://git@github.com/webrecorder/chrome-remote-interface-py.git@no-gevent-simplechrome-cdp-unification
git+https://github.com/webrecorder/simplechrome.git@using-cripy
git+https://github.com/iipc/urlcanon.git
aioredis
async-timeout
aiohttp
yarl
gevent
requests
bottle
jinja2
uvloop
numpy
redis
ujson
pyee
aiofiles
attrs