git+https://github.com/iipc/urlcanon.git#egg=urlcanon
git+https://github.com/webrecorder/chrome-remote-interface-py.git#egg=cripy
git+https://github.com/webrecorder/simplechrome.git#egg=simplechrome
aiodns
aiofiles
aiohttp
aioredis
async-timeout
attrs
bottle
cchardet
gevent
jinja2
numpy
pyee
redis
requests
ruamel.yaml
ujson
uvloop
yarl
